<div class="roles-page">
    <!-- En-tête de page -->
    <div class="card mb-5">
        <div class="flex flex-col lg:flex-row lg:justify-between lg:align-middle">
            <div class="mb-3 lg:mb-0">
                <div class="flex align-items-center mb-2">
                    <i class="pi pi-compass text-blue-600 text-2xl mr-3"></i>
                    <h1 class="text-2xl font-semibold text-blue-900 m-0">Gestion des Roles</h1>
                </div>
                <p class="text-600 m-0 line-height-3">
                    Suivi et gestion des Roles
                </p>
            </div>

            <!-- Actions principales -->
            <div class="flex flex-column sm:flex-row gap-2">
                <p-button
                    icon="pi pi-plus"
                    label="Nouveau navire"
                    (click)="onCreate()"
                    class="p-button-primary">
                </p-button>
            </div>
        </div>
    </div>

    <!-- Liste des navires -->
    <app-role-list
        (roleEvent)="onRoleEvent($event)"
    ></app-role-list>

    <!-- Dialog pour le formulaire -->
    <p-dialog
        [(visible)]="showFormDialog"
        [modal]="true"
        [draggable]="false"
        [resizable]="false"
        [closable]="true"
        [header]="formDialogTitle"
        styleClass="ship-dialog"
        [style]="{ width: '75vw', maxWidth: '700px' }"
        (onHide)="onFormDialogHide()"
    >
        <app-role-form
            [role]="selectedRole"
            [visible]="showFormDialog"
            (formSubmit)="onFormSubmit($event)"
            (formCancel)="onFormCancel()"
        ></app-role-form>
    </p-dialog>
</div>

