    <p-dialog
        [(visible)]="visible"
        [closable]="false"
        [closeOnEscape]="false"
        [dismissableMask]="false"
        [style]="{ width: '550px' }"
        header="Session expirée"
        [modal]="true"
        [draggable]="false"
        [maskStyle]="{ 'backdrop-filter': 'blur(2px)', 'background-color': 'rgba(0, 0, 0, 0.8)' }"
        class="p-fluid extreme-blur-modal"
    >
    <ng-template pTemplate="content">
        <div class="custom-dialog-content">
            <i class="pi pi-exclamation-circle text-7xl p-text-secondary-500 mb-5"></i>
            <p class="text-lg font-medium text-gray-700">
                Votre session a expirée. Veuillez vous reconnecter.
            </p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="w-full footer-dialog">
            <button
                pButton
                type="button"
                (click)="redirectToSignIn()"
                pRipple
                label="OK"
                class="p-button-secondary-900 w-5rem text-xl"
                autofocus
            ></button>
        </div>
    </ng-template>
</p-dialog>